{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-info d-inline-flex align-items-center rounded border-0">{{ button_label|default('Отправить') }}</button>
{{ form_end(form) }}
