{% extends 'base.html.twig' %}
{% block body %}
    <a id = "loadstudent" href = "#">Load student information</a>
    </br>
    </br>

    <table class = "table">
        <tbody id = "student"></tbody>
    </table>
{% endblock %}