@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/_transitions";
@import "~bootstrap/scss/_carousel";
@import "~bootstrap-star-rating/css/star-rating.css";
@import "~bootstrap-star-rating/themes/krajee-svg/theme.css";
@import "~bootstrap/scss/_toasts";
@import "~bootstrap/scss/_utilities";

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.list-group{
  max-height: 300px;
  margin-bottom: 5px;
  overflow:scroll;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}